*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: start;
  gap: 30px;
  inline-size: 1140px;
  align-items: end;
}

.content__details {
  /* block-size: 534px; */
  inline-size: 100%;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border: 0;
}

input[type="text"] {
  inline-size: 225px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  padding: 2px 0px 0 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  /* all: unset; */
  color: #fff;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.search-form__textfild:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border: solid white 1px;
  flex-shrink: 0;
}

input[type="checkbox"]:checked + span {
  /* background: url(../images/Group\ 38.png); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 1px solid #FFF;
  background: #FFF;
  margin: 2px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__label-text {
  margin-left: 8px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list .search-form__label:has(.search-form__label-text):hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration-line: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__list {
  block-size: 298px;
  inline-size: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  padding: 2px; /* чтобы было видно границы кнопки */
}

.button {
  all: unset;
  cursor: pointer;
  outline: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  min-block-size: 34px;
  inline-size: 100%;
}

.result__video-container {
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  margin: 3px;
  display: block;
}

.content__video-card-title {
  max-block-size: 200px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  max-block-size: 200px;
  font-size: 18px;
  line-height: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}