*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: start;
  gap: 30px;
  inline-size: 1140px;
  align-items: end;
}

.content__details {
  block-size: 534px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border: 0;
}

.search-form__textfield {
  appearance: none;
  border: none;
  padding: 2px 32px 0 0;
  /* all: unset; */
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border: solid white 1px;
}

input[type="checkbox"]:checked + span {
  background: url(../images/Group\ 38.png);
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.search-form__label {
  display: flex;
  cursor: pointer;
}

.search-form__label-text {
  margin-left: 8px;
}

.search-form__label-text:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text:hover {
  text-decoration-line: underline;
}

.search-form__label-text:active {
  background: url(../images/Group\ 38.png);
}

.button {
  all: unset;
  cursor: pointer;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 34px;
  inline-size: 100%;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:hover {
  text-decoration-line: underline;
}

.search-form__submit-button:active {
  background: #545050;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
}

.content__list {
  max-block-size: 324px;
  inline-size: 420px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.result__video-container {
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:hover {
  text-decoration-line: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  margin: 3px;
  display: block;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}

.preloader {
  position: relative;
}
